body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4; 
}

.container{
    padding: 20px;
}

h1, h2 {
    text-align: center;
}

label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

input[type="text"], button {
    padding: 20px;
    width: 98%;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.form-buttons {
    display: flex;
    justify-content: space-between;
}

.form-buttons button {
    width: calc(50% - 10px);
}

#employee-table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

#employee-table th, #employee-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
    word-wrap: break-word;
    white-space: pre-wrap;
    width: 20%;
}

#employee-table th {
    background-color: #f2f2f2;
}

.toaster {
    width: 100%;
    visibility: hidden;
    background-color: #42cf00;
    color: #ffffff;
    text-align: center;
    position: fixed;
    bottom: 0;
    font-size: 17px;
    opacity: 0;
    transition: opacity 0.5s, visibility 0.5s;
}

.toaster.show {
    visibility: visible;
    opacity: 1;
}